/* stylesheet of Elie Yen's github portfolio by Elie Yen */
:root {
  --c_bg: Lavender;
  --c_normal_font: #666;
  --c_reverse_font: #fff;
  --c_main1: CadetBlue;
  --c_main2: LightSlateGrey;
  --f_normal: Helvetica, 'Times New Roman', sans-serif;
  --f_code: monospace, 'Courier New', Courier ;
  --s_h1: 25pt; --s_h2: 20pt; --s_h3: 15pt;
  --s_normal: 12pt; --s_small: 10pt;
  --w1: 280px; --w2: 250px;
  --h: 400px;
}
body {
  font-family: var(--f_normal);
  font-size: var(--s_normal);
  color: var(--c_normal_font);
  margin: 0; padding: 0;
}

.project_link {
  background: var(--c_main1) url("https://github.com/Elie-Yen/Elie-Yen.github.io/blob/main/materials/link_navi.png?raw=true") center no-repeat;
}
body, a:hover, .btn:hover, .nav_links a:hover { background: linear-gradient(var(--c_main1), var(--c_bg)); }
/* .project_link > a, .project_preview are mask of preview */
.container, .footer, .header, .project_link a, .project_preview, a .link_icon, .nav_links a { background: var(--c_reverse_font); }
.btn { background: var(--c_bg); }
.project_link > a:hover { background: none; }
.container, .footer, .header, .my_avatar img { opacity: 80%; }
.project_link > a:hover { opacity: 33%; }

.link_icon { width: calc(var(--s_normal) * 1.5) }
ul { list-style: square; }
span, .btn { font-weight: bold; }
h1, h2, h3 { font-weight: normal; letter-spacing: 0.2em; line-height: 120%; }
h1 { font-size: var(--s_h1); }
h2 { font-size: var(--s_h2); }
h3 { font-size: var(--s_h3); }
.project_tags, .footer p, .nav_links a { font-size: var(--s_small); }
a, h1, h2, h3{ text-decoration: none; color: var(--c_main1); }
a:hover, .btn:hover { color: var(--c_reverse_font); }
.project_preview { color: var(--c_main2); font-family: var(--f_code); }

.ptb10 { padding: 10px 0px 10px 0px; }
.ptb5 { padding: 5px 0px 5px 0px; }
.mb30 { margin: auto auto 30px auto; }
.mtb10 { margin: 10px auto 10px auto; }
.mauto { margin: auto; }

body, .my_avatar { text-align: center; }
[class*="_description"], .project_preview, .project_tags, .nav_links { text-align: left; }

.dropdown_content { display: none; } /* hide by default */
.default_show_content, .dropdown_content a, .blk { display: block;}
a.link_icon, .project_link, .project_preview { display: inline-block; }
.r1, .r2 { display: inline-table; vertical-align: middle; }

/*---- important width settings ----*/
.project_link, .project_preview, .project_preview img { max-width: var(--w1); }
.r0 { width: 70%; }
.r1 { width: 45%; }
/* for small screens */
@media (max-width: 320px) {
  .r0, .r1 { width: var(--w2); }
  .project_link, .project_preview, .project_preview img { max-width: var(--w2); }
}
/* for tablet */
@media (max-width: 600px) { .r0, .r1 { width: 95%; } }
@media (max-width: 768px) { .r1 { width: 70%; } }

.project_preview img { object-fit: scale-down; }
.project_link, .project_preview {
  vertical-align: middle;
  height: max-content;
  width: max-content;
  overflow-wrap: break-word;
}

/*---- appearance settings in different area ----*/
.topic_container, .project, .btn { border-radius: 12px; }
.topic_container {
  box-shadow: 2px 10px 15px 2px var(--c_main2);
  z-index: 1;
}
.btn {
  width: 25px;
  height: 25px;
  border: none;
  transition-duration: 0.4s;
}
.topic_container button { margin-left: calc(100% - 40px); }
.nav_container button {
  margin-right: calc(100% - 50px);
  box-shadow: 0px 3px 5px 0px var(--c_main2);
  z-index: 1;
}
.header_title { padding: 50px 0px 50px 0px; }
.project {
  padding: 5px;
  margin-inline: 2px;
  margin-bottom: 5px;
  border: 1px solid var(--c_main2);
}
.project_description {
  max-height: var(--h);
  overflow-y: auto;
  border-block: 1px solid var(--c_main2);
}
.nav_container {
  position: fixed;
  top: 5px;
}
.nav_links a { padding: 10px 5px 10px 5px; }
